<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# {{ dump(asset('assets/img/favicon.png')) }} #}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
